.searchGuest {
  max-width: 768px;
  margin: 0 auto;
  padding: 16px;
}

.searchInput {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #dedede;
  font-size: 20px;
  height: 48px;
  text-align: center;
  width: 80%;

  &:focus {
    outline: none;
    border-bottom: 1px solid #212121;
  }
}
