@import '../../styles/variables.scss';

.hero {
  overflow: auto;
  
  &-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(0px);
    height: 100vh;
    width: 100vw;
  }

  &-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  h1 {
    font-family: $title1;
  }

  h2 {
    font-family: $title2;
  }
}
