// colors

$eggplant: #584A57ff;
$air-force-blue: #6B939Dff;
$non-photo-blue: #9FDBF2ff;
$chamoisee: #967758ff;
$tea-rose-red: #DCAFADff;

// fonts

$title1: 'Tangerine', cursive;
$title2: 'Julius Sans One', sans-serif;